# App
Flask==2.0.2
flask-env==2.0.0
Flask-SQLAlchemy==2.5.1
httplib2==0.14.0
psycopg2-binary==2.9.3
uWSGI==2.0.20

# Database migrations
alembic==1.7.3
Flask-Migrate==2.7.0

# Dev tools
pre-commit==2.16.0

# Testing
pytest==7.0.0
pytest-factoryboy==2.1.0
pytest-mock==3.7.0
pytest-randomly==3.11.0
snapshottest==0.6.0
